VUE_APP_TIANDITU_TK=
VUE_APP_TIANDITU_APP_NAME=surveyPotrolSystem
VUE_APP_TIANDITU_DOMAIN=127.0.0.1:8080
VUE_APP_TIANDITU_CENTER_LAT=35.8617
VUE_APP_TIANDITU_CENTER_LNG=104.1954
VUE_APP_TIANDITU_ZOOM=5
